*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.billing_wreapper{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;

}
.billing_container{
    margin: auto;
    text-align: center;
    padding: 40px;
}
.billing_monthly{
    border: 1px solid black;
    padding: 90px;
 
}
.billing_monthly p{
    margin: 35px 0;
}
.billing_div{
    background-color: #6932EB;
    width: 18px;
    padding: 30px;
    border-radius: 50%;
    margin: auto;
}
.billing_div1{
    background-color:gray;
    width: 18px;
    padding: 30px;
    border-radius: 50%;
    margin: auto;
}
.title{
    color: #6932EB;
    font-weight: bold;
}

.billing_amount{
    display: flex;
    justify-content: space-around;
    padding: 0px 80px 0px 80px;
    margin-bottom: 50px;
}
.promo_code_wrapper{
     display: flex;
     justify-content: center;
     margin:90px;
}


/* ///////////// deposit style /////////// */


.container_wrapper{
    /* padding: 100px; */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
   
    
}

.payment-container {
    background-color: #A4f5fb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    width: 400px;
}

.payment-title {
    font-size: 20px;
    margin-bottom: 20px;
    color: #532C94;
}
.make_deposit{
    text-align: center;
    margin-bottom: 40px;
    color: #532C94;
}

.payment-form {
    display: flex;
    flex-direction: column;
}

.payment-form input {
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.input-row {
    display: flex;
    align-items: center;
    position: relative;
}

.input-row input {
    flex: 1;
    margin: 0 5px;
}

.input-row i {
    position: absolute;
    right: 10px;
    color: #888;
}

.payment-form button {
    padding: 15px;
    background-color: #6C3EBE;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.payment-form button:hover {
    background-color: #532C94;
}

.payment-methods {
    margin-top: 20px;
    align-items: center;
}

.payment-methods p {
    margin-bottom: 10px;
}

.payment-methods img {
    width: 40px;
   
}
.payment-methods_img{
    margin: 0 20px;
}








