*{
    margin: 0;
    padding: 0;
    font-family: "DM Sans";
}
.page_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    margin: auto;
    align-items: center;
}

.signIn_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    /* align-items: center; */
    align-items: left;
    text-align: center;
    padding-right: 50px;

}
.para_content{
    text-align: left;
    margin: auto;
}
.wallstreet{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
    color: #6932EB;
    font-family: "DM Sans";

}
.para_content{
    color: #323233;;
    font-weight: 500;
    font-size: 30px;
    font-family: "DM Sans";

}
.p{
    padding: 2px 0;
}
.content_p{
    margin: 40px 0 40px 0;
    font-size: 15px;
}
.signIn_icons_wrapper{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    width: 100%;
    padding-left: 77px;
}
.signIn_icons{
    border: 1.2px solid black;
    padding: 8px;
    width: 185px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease;


}
.signIn_icons i{
    gap: 10px;

}
.signIn_icons:hover{
    background-color:  #6932EB;
    color: white;

}

.paragrah{
    margin-top: 8px;
    margin-bottom:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left:160px ;
    gap: 15px;

}
.span_line{
  width: 100px;
  height: 1px;
  background-color: black;


}
.paragrah p{
    font-size: 15px;

}

.div_input{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

form{
    max-width: 500px;
    margin:  0 auto;
    text-align: left;

}
.show_div{
    width: 80%;
    margin-right: 90px;
}
input:not(#id_terms_accepted),
label:not(#id_terms_accepted):not(label[for="id_terms_accepted"]),
select {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
}

input[type=submit]{
    padding: 15px 0;
    cursor: pointer;
    color: white;
    background: #6932EB ;
    border: none;
}
input, select{
    padding: 15px 10px;
    border-radius: 10px;
}
.div_input_wrapper{
    /* padding: 24px ; */
}
.password{
    /* padding: 24px; */
    position: relative;

}
.show_div{
    position: relative;
}
.show{
    position: absolute;
    top: 55px;
     right: 28px;
    cursor: pointer;
}
.show button{
    border:0;
    background-color: transparent;
    cursor: pointer;
}

.checkbox_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    gap: 120px;
}
.checkbox {
    display: flex;
    align-items: center;
}
.checkbox input[type="checkbox"] {
    margin-right: 5px;
}
.form_container input[type="submit"]:hover {
    background: #6e3be6;
}
.footer_terms{
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 50px;
}

.p_tag a{
   font-weight: bold;
}
.footer_wrapper_all{
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 80px;
    padding: 40px;
}
.sign_in_footer{
    background-color:#6932EB;
    width: 100%;
    /* padding: 20px; */
    align-items: center;
    text-align: center;
    height: 120px;

}
/* //////// register ///// */

.input_icon_wrapper{
    /* padding-left: 30px; */
}
.input_icons{
    margin: 15px;

}
.icons_p{
    font-size: 18px;
    font-weight: 300;

}
.icons_p i{
    margin-right: 20px;
    font-size: 26px;
    font-weight: bold;
}

.stay_ahead{
    margin: 25px;
}
.stay_content{
    font-family: 500;
    font-size: 20px;
}
.stay_ahead p{
    font-family: 300;
    margin: 5px;
}
.unsubcribe_div{
    margin: 20px;
}
.register_icons_wrapper{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.btn1{
    width: 190px;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 10px;
}
.btn2{
    width: 190px;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 10px;
}
.btn1:hover{
    background-color: green;
    color: white;
}
.btn2:hover{
    background-color: red;
    color: white;
}
.btn{
    margin: 10px;
}

.error{
    color:red;
}