<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirmation</title>
    <link rel="stylesheet" href="confirmation.css">
</head>
<body>

  <div class="page_confirmation_email">
    <div class="images_con">
      <h1 class="wall">WallStreetClan</h1>
        <input type="text" placeholder="Last Step: Confirm your email.">
        <ul>
        <ol>
            <li>Open the message we've sent <br>  to noblesylvia4u@yahoo.com</li>
           
       
            <li>Click on the link to confirm <br>your email</li>
            
        </ol>
    </ul>

    </div>
  </div>

    
</body>
</html>