{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate {% block title %}{% endblock %}</title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>

    <header>
        <div class="nav_bar">
            <div class="navBar_img">
            <img src="{% static 'images/Group 1000002627.png' %}" alt="">
        </div>
            <a href="{% url 'listings' %}">Buy</a>
            <a href="#">Sell</a>
            <a href="#">Rent</a>
        </div>
        <div class="nav_link">
            <a href="{% url 'home' %}">My Home</a>
            <a href="#">saved</a>
            <a href="#">Account</a>
        </div>
 </header>
 <div class="line_wrapper">
 <div class="hr_line"></div>
</div>

{% block content %}
{% endblock %}

  <!-- ///////// footer input ////// -->

  
  <div class="footer_input_btn_wrapper">
    <div class="input_btn_wrapper">
     <i class="bi bi-newspaper"></i> 
     <div class="i_p_wrapper">
     <p>Join our newsletters and get offers</p>
     <p>Sign up for our newsletter</p>
  </div>
     <div class="input_btn_footer">
     <input type="text" placeholder="Enter your email">
     <button>Subscribe</button>
    </div>
    </div>
 </div>

<!-- ////////// footer //////// -->

<div class="container_footer">
    <img class="logo" src="{% static 'images/Group 1000002627.png' %}" alt="">
    <div class="row">
        <div class="col_wrapper">
            <div class="col">
               <h2>About WallStreetClan</h2>
               <p>About Us</p> 
               <p>Why we are leaders</p> 
               <p>Press room</p> 
               <p>Work with us</p> 
               <p>News</p> 
            </div>
        </div>

        <div class="col_wrapper">
            <div class="col">
               <h2>Help</h2>
               <p>Frequently asked qeustion (FAQs)</p> 
               <p>settings</p> 
               <p>Privacy policy</p> 
               <p>Cookies policy</p> 
               <p>General condition</p> 
            </div>
        </div>

        <div class="col_wrapper">
            <div class="col">
               <h2>Contact</h2>
               <h4>if you have any query, please contact us</h4>
              <h4 style="color: red; font-size: 12px;">WallStreetClan@gmail.com</h4>
              <div class="social_icons">
             <a href=""><i class="bi bi-facebook"></i></a>   
             <a href=""><i class="bi bi-instagram"></i></a>   
             <a href=""><i class="bi bi-twitter"></i></a>   
             <a href=""><i class="bi bi-envelope"></i></a>   
             <a href=""><i class="bi bi-linkedin"></i></a>   
              
              </div>
            </div>
        </div>

        <div class="col_wrapper">
            <div class="col">
               <h2>Download</h2>
               <div class="footer_img">
                <img src="{% static 'images/google_play_icon.png' %}" alt="">
                <img src="{% static 'images/apple_app_store_icon.png' %}" alt="">
               </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="footer_copyright">
        <i class="bi bi-check-circle"></i>
      <a href="">Copyright.2024.All Right Reserved</a>
    </div>
</div>

{% block js %}
{% endblock %}
</body>
</html>