{% extends 'base.html' %}
{% load static %}

{% block title %}Real Estate | Sign In{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

  {% block content %}
    <div class="page_container">
        <div class="signIn_content">
        <div class="para_content">
        <!-- <h2 class="wallstreet">WALLSTREETCLAN</h2> -->
        <img style="padding-bottom: 35px;" src="{% static 'images/WALLSTREETCLAN.png' %}%" alt="">
        <P class="p">Sign  in to save</P>
        <p class="p">properties and much</p>
        <p class="p">more</p>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}"> {{ message }} <li>
            {% endfor %}
        </ul>
        {% endif %}
        <p class="content_p">No Account? <span style="border-bottom: 1.5px solid black; margin: 2px;"><a href="{% url 'register' %}">Register</a></span>  as a private User</p>
     </div>
     </div>

        <!-- ////// form ////// -->

        <div class="form_container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                 <div class="checkbox_div">
                    <span><a href="#">Forgotten Password?</a></span>
                </div>
                <div class="div_input_wrapper">
                    <input type="submit" value="Sign In">
                </div>
            </form>

        </div>

          <div class="footer_terms">
            <p>By signing in you accept our</p>
            <div class="p_tag">
            <p class="p_tag"><a href="">Terms</a> of Use and <a href="">Privacy Policy</a></p>
          </div>
          </div>
        </div>

{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}